.education-component {
    .education-wrapper {
        .education-school {
            .school-description {
                font-size: 15px;
                font-weight: bold;
            }

            .school-name {
                color: rgb(75, 70, 70);
                font-size: 12px;
            }

            .school-date {
                color: rgb(75, 70, 70);
                font-size: 12px;
            }
        }
    }
}