.education-component {
    .education-wrapper {
        .qualifications-data {
            display: grid;
            grid-template-columns: 1fr max-content 1fr;
            column-gap: 1.5rem;

            // &.show {
            //     transform: scale(1);
            //     transition: all ease-in 300ms;
            //     transform-origin: top;
            // }
    
            // &.hide {
            //     transform: scale(1, 0);
            //     transition: all ease-out 300ms;
            //     transform-origin: top;
            // }

            .qualifications {
                .qualifications-rounder {
                    display: inline-block;
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    background-color: rgb(235, 39, 72);
                }

                .qualifications-line {
                    display: block;
                    width: 1px;
                    height: 100%;
                    background-color: rgb(235, 39, 72);
                    transform: translate(6px, -7px);
                }
            }

            .education-school {
                .school-description {
                    font-size: 15px;
                    font-weight: bold;
                }
    
                .school-name {
                    color: rgb(75, 70, 70);
                    font-size: 12px;
                }
    
                .school-date {
                    color: rgb(75, 70, 70);
                    font-size: 12px;
                }
            }
        }
    }
}