.work-component {
    .work-wrapper {
        .work-content {
            .work-description {
                font-size: 15px;
                font-weight: bold;
            }

            .work-name {
                color: rgb(75, 70, 70);
                font-size: 12px;
            }

            .work-date {
                color: rgb(75, 70, 70);
                font-size: 12px;
            }
        }
    }
}