.qualifications-component {
    padding: 2.5rem 7rem;

    .qualifications-wrapper {
        padding-top: 2rem;

        .qualifications-title {
            text-align: center;
            font-weight: bold;
            font-size: 1.8rem;
        }

        .qualifications-content {
            margin-left: 2rem;
            padding-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .education {
                margin-right: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:hover {
                    color: rgb(235, 39, 72);
                }

                .education-icon {
                    font-size: 25px;
                }
            }

            .work {
                margin-right: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                &:hover {
                    color: rgb(235, 39, 72);
                }

                .work-icon {
                    font-size: 25px;
                }
            }
        }
    }
}