.service-component {
    padding: 1.5rem 7rem;

    .service-wrapper {
        padding-top: 2rem;

        .service-title {
            text-align: center;
            font-weight: bold;
            font-size: 1.8rem;      
        }

        .service-card {
            padding-top: 1.5rem;
            display: flex;

            .card-wrapper {
                width: 33%; 
                margin-right: 2.5rem;

                .card-icon {
                    display: flex;
                    justify-content: center;

                    .icon-wrapper {
                        color: white;
                        font-size: 1.8rem;
                        border-radius: 50%;
                        background-color: rgb(235, 39, 72);
                        width: 30px;
                        height: 30px;
                        padding: 1rem 1rem;
                        top: 40rem;
                    }
                }

                .card-content {
                    padding-top: 1.5rem;
                    
                    .card-title {
                        text-align: center;
                        font-size: 18px;
                        font-weight: bold;
                    }
    
                    .card-description {
                        color: rgb(75, 70, 70);
                        text-align: justify;
                    }
                }
            }
        }
    }
}