.footer-component {
    padding: 2.5rem 7rem;
    background-color: rgb(10, 9, 9);
    color: white;

    .footer-wrapper {
        padding-top: 0rem;

        .footer-content {
        padding-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .footer-title {
            font-weight: bold;
            font-size: 2rem; 
            margin-right: 5rem;
            color: rgb(235, 39, 72);
        }

        .footer-description {
            color: rgb(129, 126, 126);
            font-size: 18px;
            font-weight: 600;
        }

        .footer-menu {
            display: flex;

            .menu-item {
                margin-right: 1rem;
                cursor: pointer;
            }
        }

        .footer-icon {
            display: flex;
            margin-left: 5rem;

            .icon-item {
                margin-right: 1rem;
                cursor: pointer;

                .link-style {
                    color: white;

                    &:hover {
                        color: rgb(235, 39, 72);
                    }
                }
            }
        }

        }
    }
}