.contact-component {
    padding: 2.5rem 7rem;

    .contact-wrapper {
        padding-top: 2rem;

        .contact-title {
            text-align: center;
            font-weight: bold;
            font-size: 1.8rem;  
        }

        .contact-content {
            padding-top: 3rem;
            display: flex;
            
            .contact-information {
                .contact-telephone {
                    padding-bottom: 1rem;
                    display: flex;
                    align-items: center;

                    .telephone-style {
                        color: rgb(235, 39, 72);
                        font-size: 20px;
                    }

                    .telephone-information {
                        margin-left: 1.5rem; 
                    }
                }

                .contact-email {
                    padding-bottom: 1rem;
                    display: flex;
                    align-items: center;

                    .email-style {
                        color: rgb(235, 39, 72);
                        font-size: 20px;
                    }
                    
                    .email-information {
                        margin-left: 1.5rem;
                    }
                }

                .contact-location {
                    padding-bottom: 1rem;
                    display: flex;
                    align-items: center;

                    .location-style {
                        color: rgb(235, 39, 72);
                        font-size: 20px;
                    }
                    
                    .location-information {
                        margin-left: 1.5rem;
                    }
                }
            }

            .contact-form {
                margin-left: 5rem;

                input[type=text], select {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                }
                  
                input[type=submit] {
                    width: 100%;
                    background-color: #4CAF50;
                    color: white;
                    padding: 14px 20px;
                    margin: 8px 0;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
                  
                input[type=submit]:hover {
                    background-color: #45a049;
                }

                textarea {
                    width: 100%;
                    height: 150px;
                    padding: 12px 20px;
                    box-sizing: border-box;
                    border: 2px solid #ccc;
                    border-radius: 4px;
                    // background-color: #f8f8f8;
                    font-size: 16px;
                    resize: none;
                }

                .button-contact {
                    padding-top: 1.5rem;

                    .button-style {
                        display: flex;
                        align-items: center;
                        background-color: rgb(235, 39, 72);
                        color: white;
                        padding: 1rem 1rem;
                        font-size: 15px;
                        border:none;
                        border-radius: 0.5rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}