.skills-component {
    padding: 1.5rem 7rem;

    .skills-wrapper {
        padding-top: 2rem;

        .skills-title {
            text-align: center;
            font-weight: bold;
            font-size: 1.8rem;   
        }

        .skills-content {
            margin-bottom: 2rem;

            .first-content{
                padding-top: 3rem;
                padding-bottom: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;

                .frontend-skills {
                    margin-right: 8rem;

                    .frontend-title {
                        cursor: pointer;
                    }

                    .frontend-description {
                        margin-left: 1.5rem;
                        font-size: 12px;
                    }

                    .frontend-menu {
                        padding-top: 2rem;
                    }
                }

                .designer-skills {
                    .designer-title {
                        cursor: pointer;
                    }
                    
                    .designer-description {
                        margin-left: 1.5rem;
                        font-size: 12px;
                    }

                    .designer-menu {
                        padding-top: 2rem;
                    }
                }
            }
            .second-content{
                display: flex;
                margin-left: 17.5rem;

                .backend-skills {
                    margin-right: 2rem;

                    .backend-title {
                        cursor: pointer;
                    }

                    .backend-description {
                        margin-left: 1.5rem;
                        font-size: 12px;
                    }

                    .backend-menu {
                        padding-top: 2rem;
                    }
                }
            }
        }
    }
}