.skills-component {
    padding: 1.5rem 7rem;

    .skills-wrapper {
        padding-top: 2rem;

        .skills-title {
            text-align: center;
            font-weight: bold;
            font-size: 1.8rem;   
        }

        .skills-content {
            margin-bottom: 2rem;

            .first-content{
                padding-top: 3rem;
                padding-bottom: 3rem;
                display: flex;
                justify-content: center;

                .frontend-skills {
                    margin-right: 8rem;

                    .frontend-wrapper {
                        height: 2rem;

                        &.show {
                            transform: scale(1);
                            transition: all ease-in 300ms;
                            transform-origin: top;
                        }

                        &.hide {
                            transform: scale(1, 0);
                            transition: all ease-out 300ms;
                            transform-origin: top;
                        }

                        .frontend-title {
                            cursor: pointer;
                            font-size: 1.5rem;

                            &:hover {
                                color: rgb(235, 39, 72);
                            }
                        }

                        .frontend-description {
                            margin-left: 2rem;
                            font-size: 15px;
                            color:rgb(75, 70, 70);
                            font-weight: 600;
                        }
                    }

                    .frontend-data {
                        .skills-title {
                            display: flex;
                            justify-content: space-between;

                            .skills-name {
                                font-size: 18px;
                                font-weight: bold;
                            }

                            .skills-number {
                                font-size: 18px;
                                color: rgb(75, 70, 70);
                            }
                        }

                        .skills-bar, .skills-percentage {
                            height: 5px;
                            border-radius: 0.25rem;
                        }

                        .skills-bar {
                            background-color: lightgrey;

                            .skills-percentage {
                                display: block;
                                background-color: rgb(235, 39, 72);
                            }

                            .skills-html {
                                width: 90%;
                            }

                            .skills-css {
                                width: 80%;
                            }

                            .skills-js {
                                width: 75%;
                            }

                            .skills-react {
                                width: 75%;
                            }
                        }
                    }
                }

                .designer-skills {
                    .designer-wrapper {
                        height: 2rem;

                        .designer-title {
                            font-size: 1.5rem;
                            cursor: pointer;
                            display: flex;
                            align-items: center;

                            &:hover {
                                color: rgb(235, 39, 72);
                            }
                        }
                        .designer-description {
                            margin-left: 2rem;
                            font-size: 15px;
                            color:rgb(75, 70, 70);
                            font-weight: 600;
                        }
                    }
                    
                    .designer-data {
                        .skills-title {
                            display: flex;
                            justify-content: space-between;

                            .skills-name {
                                font-size: 18px;
                                font-weight: bold;
                            }

                            .skills-number {
                                font-size: 18px;
                                color: rgb(75, 70, 70);
                            }
                        }

                        .skills-bar, .skills-percentage {
                            height: 5px;
                            border-radius: 0.25rem;
                        }

                        .skills-bar {
                            background-color: lightgrey;

                            .skills-percentage {
                                display: block;
                                background-color: rgb(235, 39, 72);
                            }

                            .skills-figma {
                                width: 90%;
                            }

                            .skills-adobe {
                                width: 75%;
                            }
                        }
                    }
                }
            }

            .second-content{
                display: flex;
                margin-left: 13.5rem;

                .backend-skills {
                    margin-right: 2rem;

                    .backend-title {
                        font-size: 1.5rem;
                        cursor: pointer;
                        display: flex;
                        align-items: center;

                        &:hover {
                            color: rgb(235, 39, 72);
                        }
                    }

                    .backend-description {
                        margin-left: 2rem;
                        font-size: 15px;
                        color:rgb(75, 70, 70);
                        font-weight: 600;
                    }

                    .backend-data {
                        .skills-title {
                            display: flex;
                            justify-content: space-between;

                            .skills-name {
                                font-size: 18px;
                                font-weight: bold;
                            }

                            .skills-number {
                                font-size: 18px;
                                color: rgb(75, 70, 70);
                            }
                        }

                        .skills-bar, .skills-percentage {
                            height: 5px;
                            border-radius: 0.25rem;
                        }

                        .skills-bar {
                            background-color: lightgrey;

                            .skills-percentage {
                                display: block;
                                background-color: rgb(235, 39, 72);
                            }

                            .skills-php {
                                width: 70%;
                            }

                            .skills-symfony {
                                width: 80%;
                            }

                            .skills-graphql {
                                width: 80%;
                            }

                            .skills-nodejs {
                                width: 70%;
                            }

                            .skills-mysql {
                                width: 85%;
                            }

                            .skills-mongodb {
                                width: 75%;
                            }
                        }
                    }
                }
            }
        }
    }
}