.header-component{
    padding: 1.5rem 7rem;

    .header-wrapper{
        padding-top: 4rem;
        display: flex;

        .header-icon {
            .facebook-icon {
                padding-bottom: 1rem;
                cursor: pointer;

                &:hover {
                    color: rgb(235, 39, 72);
                }
            }

            .linkedin-icon {
                padding-bottom: 1rem;
                cursor: pointer;

                &:hover {
                    color: rgb(235, 39, 72);
                }
            }

            .instagram-icon {
                padding-bottom: 1rem;
                cursor: pointer;

                &:hover {
                    color: rgb(235, 39, 72);
                }
            }

            .github-icon {
                padding-bottom: 1rem;
                cursor: pointer;

                &:hover {
                    color: rgb(235, 39, 72);
                }
            }
        }

        .header-content {
            padding-top: 0;
            margin-left: 5rem;

            .content-wrapper {
                .header-title {
                    font-weight: bold;
                    font-size: 3rem;
                }
        
                .header-subtitle {
                    font-size: 20px;
                    font-weight: 600;
                    padding-top: 15px;
                    color: rgb(75, 70, 70);
                }
            }    
            
            .header-button {
                .contact-wrapper {
                    .contact-button {
                        margin-right: 1rem;
                        background-color: rgb(235, 39, 72);
                        color: white;
                        padding: 1rem 1rem;
                        font-size: 15px;
                        border:none;
                        border-radius: 0.5rem;
                        cursor: pointer;
                        display: flex;
                        align-items: center;

                        .icon-style {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }

        .header-image {
            margin-left: 3rem;
            width: 40%;

            img {
                width: 100%;
                height: 72%;
                object-fit: contain;
            }
        }
    }
}